# Guacamole properties
guacd-hostname: 192.168.20.141
guacd-port: 4822
auth-provider: mysql
mysql-hostname: localhost
mysql-port: 3306
mysql-database: guacamole_db
mysql-username: guacamole_user
mysql-password: your_password
